*{
	margin:0;
	padding:0;
}

body{
	font-family: sans-serif;
	margin-top: 40px;
}

.reform{
	width: 800px;
	background-color: black;
	margin:auto;
	color: #fff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}

.main{
	background-color:#79aacb;
	width: 800px;
	margin:auto;
	border-right: 6px;
	position: relative;
}

form{
	padding: 10px;
}

#name{
	width: 100%;
	height: 100px;
}

.name{

	margin-left: 22px;
	margin-top: 20px;
	margin-bottom: 60px;
	width: 115px;
	color: black;
	font-size: 17px;
	font-weight: 700;
}

.firstname{
	position: absolute;
	left:200px;
	top:30px;
	line-height: 35px;
	border-radius: 6px;
	padding: 0 16px;
	font-size: 18px;
	width: 130px;
}

.lastname{
	position: absolute;
	left:500px;
	top:30px;
	line-height: 35px;
	border-radius: 6px;
	padding: 0 16px;
	font-size: 18px;
	width: 130px;
}

.firstlabel{
	font-weight: 500;
	position: absolute;
	color:black;
	text-transform: capitalize;
	font-size: 18px;
	left: 203px;
	top:80px;
}

.lastlabel{
	font-weight: 500;
	position: absolute;
	color:black;
	text-transform: capitalize;
	font-size: 18px;
	left: 504px;
	top:80px;
}

.college{
	position: absolute;
	left:200px;
	top:148px;
	line-height: 35px;
	border-radius: 6px;
	padding: 0 16px;
	font-size: 18px;
	width: 400px;
	margin:0 0 5px 0;
}

.email{
	font-weight: 500;
	position: absolute;
	left:200px;
	top:245px;
	line-height: 35px;
	border-radius: 6px;
	padding: 0 16px;
	font-size: 18px;
	width: 400px;
	color:black;
}

.code{
	font-weight: 500;
	position: absolute;
	left:200px;
	top:315px;
	line-height: 35px;
	width: 60px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color:black /*#555*/;
}

.number{
	font-weight: 500;
	position: absolute;
	left:400px;
	top:315px;
	line-height: 35px;
	width: 255px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 18px;
	color: #555;
}

.country-code{
	font-weight: 500;
	position: absolute;
	color: black;
	text-transform: capitalize;
	font-size: 18px;
	left: 203px;
	top: 360px;
}

.phone-number{
	font-weight: 500;
	position: absolute;
	color: black;
	text-transform: capitalize;
	font-size: 18px;
	left:403px;
	top: 360px;
}


.munxp{
		vertical-align: middle;
	align-items: center;
	text-align: center;
	position: absolute;
	left:200px;
	top:410px;
	line-height: 35px;
	border-radius: 6px;
	/*padding: 0 16px;*/
	font-size: 18px;
	color:black;
}


.Portfolio{
		vertical-align: middle;
	align-items: center;
	text-align: center;
	position: absolute;
	left:200px;
	top:500px;
	line-height: 35px;
	border-radius: 6px;
	/*padding: 0 16px;*/
	font-size: 18px;
	color:black;
}


.chooseafile1{
	position: absolute;
	color: white;
	text-transform: capitalize;
	font-size: 14px;
	left:203px;
	top: 425px;
}

.chooseafile2{
	position: absolute;
	color: white;
	text-transform: capitalize;
	font-size: 14px;
	left:203px;
	top: 525px;
}



/********copied for button*****/
/*[type="file"] {
	position: absolute;
 	height: 0;
	overflow: hidden;
  	width: 0;
  	left: 203px;
}
*/
[type="file"] {
	position: relative;
    height: 0;
	overflow: hidden;
  	width: 0;
  	/*left: 203px;*/
}
/********copied for button*****/
/*[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}*/

[type="file"] + label {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	text-align: center;
	vertical-align: middle;
  background: #154973;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  outline: none;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  height: 60px;
  width:120px;

  &:hover {
    background-color: darken(#f15d22, 10%);
  }
 
    
    span {
      display: inline-block;
      height: 100%;
      transition: all 0.3s;
      width: 100%;
    }
    
    &::before {
      color: #fff;
      content: "\f382";
      font-family: "Font Awesome 5 Pro";
      font-size: 130%;
      height: 100%;
      left: 0;
      line-height: 2.6;
      position: absolute;
      top: -180%;
      transition: all 0.3s;
      width: 100%;
    }

    &:hover {
      background-color: darken(#ee6d9e, 30%);
      
      span {
        transform: translateY(300%);
      }
        
      &::before {
        top: 0;
      }
    }
  }
}

// Demo specific styles below


.wrapper {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

/**********copied for btton over**************/

/********responsive form*******/

@media only screen and (max-width: 600px) and (min-width: 350px){

.reform{
	width: 320px;
	background-color: black;
	margin:auto;
	color: #fff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}

.main{
	background-color:#79aacb;
	width: 320px;
	margin:auto;
	border-right: 6px;
	position: relative;
}
}

@media only screen and (max-width:1100px) and (min-width: 700px){
	.reform{
	width: 900px;
	background-color: black;
	margin:auto;
	color: #fff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}

.main{
	background-color:#79aacb;
	width: 900px;
	margin:auto;
	border-right: 6px;
	position: relative;
}
} 